/* Paleta de colores */
:root {
    --color-rojo-claro: #f09393;
    --color-rojo-medio: #e45b5b;
    --color-rojo-oscuro: #ce2424;
    --color-blanco: #fff;
}

/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, var(--color-rojo-medio), var(--color-rojo-oscuro));
    color: var(--color-blanco);
    overflow-x: hidden;
    height: 900px;
}

/* Encabezado y menú */
header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    z-index: 1;
    background-color: var(--color-rojo-oscuro);
    border-bottom: 3px solid var(--color-rojo-claro);
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.75);
    height: 45px;
}   


