/* stylePassword.css */

:root {
  --bg-color1: #1461B1;
  --bg-color2: #1461B1;
}

* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom left, var(--bg-color1), var(--bg-color2));
  font-family: Arial, sans-serif;
  height: 850px;
}

.container {
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
  text-align: center;
  color: #2196f3;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  font-weight: bold;
  margin-bottom: 10px;
  color: #2196f3;
}

input[type="text"] {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  width: 100%;
  max-width: 400px;
  font-size: 16px;
}

button {
  background-color: #2196f3;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #0d8bf5;
}

button:active {
  transform: scale(0.95);
}

button.disabled {
  background-color: #ccc;
  cursor: default;
}

button.disabled:hover {
  background-color: #ccc;
}

button span {
  display: inline-block;
  position: relative;
}

button span:after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.3s ease;
}

button:hover span:after {
  width: 100%;
}

button:active span:after {
  background-color: #0d8bf5;
}

#corazon {
  border: #0d8bf5 2px solid;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
}


#volver {
  background-color: #ddd;
  color: #888;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: block;
  margin: 0 auto;
}

#volver:hover {
  background-color: #bbb;
  color: #555;
}

#volver:active {
  transform: scale(0.95);
}

#volver.disabled {
  background-color: #ccc;
  cursor: default;
  color: #aaa;
}

#volver.disabled:hover {
  background-color: #ccc;
}

#volver span {
  display: inline-block;
  position: relative;
}

#volver span:after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background-color: #888;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.3s ease;
}

#volver:hover span:after {
  width: 100%;
}

#volver:active span:after {
  background-color: #555;
}

#arbol {
  background-image: url("../img/arbol.jpg");
  background-size: cover;
  position: fixed;
  width: 1920px;
  height: 800px;
  top: 140px;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
  z-index: -1;
}

#invisible-btn {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 9999;
}