/* Estilos generales */
body {
  background-color: #F0F2F5;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 50px;
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

input[type="text"] {
  font-size: 24px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  border-bottom: 2px solid #C1C1C1;
  margin-bottom: 30px;
  text-align: center;
  width: 200px;
  transition: border-bottom-color 0.3s ease-in-out;
}

input[type="text"]:focus {
  outline: none;
  border-bottom-color: #1E88E5;
}

button {
  background-color: #1E88E5;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #1565C0;
}

.alert {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #FFC107;
  color: #FFFFFF;
  padding: 10px;
}

/* Animaciones */
.container {
  animation: fadeIn 0.5s ease-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-50%) scale(0.8);
  }
  100% {
    opacity: 1;
    transform: translateY(-50%) scale(1);
  }
}

.alert {
  animation: slideIn 0.5s ease-out forwards;
}

@keyframes slideIn {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}
