:root {
  --clr-0: #CCCCCC;
 --clr-1: #f5f5f5;
 --clr-2: #232323;
}
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  background-color: var(--clr-0);
}
/* body.light {
  background-color: var(--clr-0);
} */
body.light .cover{
  background-color: var(--clr-0);
}
#stick-figure-svg {
  opacity: 0;
  visibility: hidden;
}
body.light .theme-toggle-button {
  border-color: white;
  background-color: var(--clr-0);
}
/* body.dark {
  background-color:  var(--clr-2);
} */
body.dark .cover {
  background-color:  var(--clr-2);
}
body.dark .theme-toggle-button {
  border-color: #b8b1a7;
  background-color: var(--clr-2);
}
body.dark #R-leg, body.dark #L-leg {
  stroke: white;
}
body.light #R-leg, body.light #L-leg {
  stroke: #232323;
}
.cover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75px;
  height: 75px;
  background-color: black;
  z-index: -1;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  gap: 2rem;
  position: relative;
  overflow: hidden;
}
button {
  padding: 2rem;
  cursor: pointer;
}
.theme-toggle-button {
    width: 15rem;
    height: 5rem;
    border: 4px solid white;
    border-radius: 50px;
    display: flex;
    align-items: flex-end;
    padding: 0;
    background-color: var(--clr-0);
}
#stick-figure-svg {
  width: 147%;
  height: 147%;
/*   border: 1px solid; */
}

.template-footer {
  position: fixed;
  bottom: 0;
  right: 0; 
  height: 2rem;
  width: 15rem;
  border-radius: 5px 0 0 0;
  background-color: #ffffba;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 1.6rem;
}