:root {
    --color-color1: #ffc400;
    --color-color2: #d9ff00;
    --color-negro: #333;
    --color-blanco: #fff;
}

/* Estilos generales */
body {
    margin: 0;
    background: linear-gradient(to bottom right, var(--color-color1), var(--color-color2));
    color: var(--color-blanco);
    overflow-x: hidden;
    height: 2100px;
    justify-content: center;
    align-items: center;
    font-family: verdana;
    text-align: center;
}


#headerArriba {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    z-index: 1;
    background-color: var(--color-negro);
    border-bottom: 3px solid var(--color-color1);
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.75);
    height: 85px;
}

#Dia {
    margin-top: 320px;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin: 50px 0;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.3);
    color: var(--color-color1);
    -webkit-text-stroke: 1px black;
    text-shadow: 1px black;
}

#headerArriba>h2 {
    animation: slideInLeft 1s ease-in-out;
    text-align: center;
}

@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Estilos para p치rrafos */
#headerArriba>p {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 20px;
    padding: 10px;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: both;
    margin-left: 30px;
    margin-right: 300px;
}

/* Animaci칩n para p치rrafos */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

#headerArriba>nav {
    text-align: center;
}

#headerArriba>nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
    background-color: #1c1c1c;
    font-family: sans-serif;
    font-size: 18px;
    border-bottom: 1px solid #8c8c8c;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .15);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

#headerArriba>nav ul li a {
    display: block;
    padding: 20px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color .3s, border-radius .3s;
    border-radius: 20px;
}

#headerArriba>nav ul li a:hover {
    background-color: #8c8c8c;
    color: #1c1c1c;
    transition: background-color .3s, border-radius .3s;
    border-radius: 1;
}

/* Estilos para el banner */
.banner {
    position: fixed;
    top: 33%;
    right: 0;
    transform: translateY(-50%);
    background-color: var(--color-blanco);
    border: 1px solid var(--color-negro);
    padding: 10px;
    width: 200px;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    margin-right: 30px;
}

/* Estilos para el texto del banner */
.banner p {
    margin: 0;
    padding: 5px 0;
    font-size: 14px;
    color: var(--color-negro);
    text-align: center;
}

/* Animaci칩n para el banner */
@keyframes slideInRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.banner {
    animation: slideInRight 1s ease-in-out;
}

.progress-bar-container {
    width: 200px;
    height: 20px;
    border: 1px solid black;
    margin: 10px auto;
    position: relative;
    border-radius: 5px;
}

.progress-bar {
    width: 0%;
    height: 100%;
    background-color: green;
    position: absolute;
    top: 0;
    left: 0;
    transition: width 0.5s ease;
}

.progress-bar-indicator {
    color: black;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    text-align: center;
    line-height: 50px;
}






























.slider-wrapper {
    --slider-height: .3125em;
    --slider-thumb-size: 1.75em;
    --slider-progress: 50;
    border-radius: 50px;
    width: 7em;
    max-width: 100%;
    transition: width 0.2s;
  }
  .slider-wrapper.unlocked {
    width: 8em;
  }
  
  .slider-track {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: inherit;
    width: 100%;
    height: var(--slider-height);
    background-image: linear-gradient(to right, transparent 0% calc(var(--slider-progress) * 1%), #aaa calc(var(--slider-progress) * 1%) 100%), linear-gradient(to right, #62ad1d, #fbbd1e, #fb6e1e, #e71a1a, #220000);
    background-size: auto, 125% 100%;
    box-shadow: inset 0 2px 4px rgba(255, 255, 255, 0.6), inset 0 -2px 4px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-size 0.2s;
  }
  .slider-wrapper.unlocked > .slider-track {
    background-size: auto, 100% 100%;
  }
  
  .slider-input {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translate(-50%);
    border-radius: inherit;
    width: calc(100% + var(--slider-thumb-size));
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }
  .slider-input::-webkit-slider-runnable-track {
    height: 100%;
  }
  .slider-input::-webkit-slider-thumb {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    margin-top: calc((var(--slider-height) / 2) - (var(--slider-thumb-size) / 2));
    border-width: 0;
    border-radius: 50%;
    width: var(--slider-thumb-size);
    height: var(--slider-thumb-size);
  }
  .slider-input::-moz-range-thumb {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    margin-top: calc((var(--slider-height) / 2) - (var(--slider-thumb-size) / 2));
    border-width: 0;
    border-radius: 50%;
    width: var(--slider-thumb-size);
    height: var(--slider-thumb-size);
  }
  
  .slider-thumb {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: calc(var(--slider-progress) / 100 * (100% - var(--slider-height)) + var(--slider-height) / 2);
    left: calc(var(--slider-progress) * 1%);
    transform: translateX(-50%);
    width: var(--slider-thumb-size);
    height: var(--slider-thumb-size);
    transition: transform 0.2s;
  }
  .slider-input:active + .slider-thumb {
    transform: translateX(-50%) scale(0.86);
  }
  .slider-thumb::after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 150%;
    height: 150%;
    background-image: url("https://assets.codepen.io/4175254/explosion-2.png");
    background-size: 800%;
    opacity: 0;
  }
  .slider-thumb.play-explosion::after {
    animation: explosion 0.5s steps(8) forwards;
    opacity: 1;
  }
  
  @keyframes explosion {
    to {
      background-position-x: -800%;
    }
  }
  .slider-thumb-image {
    --slider-thumb-image-color: rgb(251 150 30);
    position: relative;
    width: 100%;
    height: 100%;
    fill: var(--slider-thumb-image-color);
    transition: transform 0.2s;
  }
  .slider-thumb-image.shake {
    animation: shake 0.2s infinite;
  }
  
  @keyframes shake {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(5deg);
    }
    50% {
      transform: rotate(0eg);
    }
    75% {
      transform: rotate(-5deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }